<div class="container">
  <h1>New game</h1>

  <%=@letters%>
  <div>
    <form action="/score" class="bg-primary" method="POST" data-turbo="false">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
  </div>
    <div class="input-group">
      <input type="text" name="word" class="form-control" placeholder="Your word">
      <input type="submit" value="Let's countdown Mofos!" class="btn btn-primary">
    </div>
    </form>
</div>
